
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #00F;
}
a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 1em;
}

h6 {
   font-size: 1em;
   padding: 0;
   padding-top: 1em;
   margin: 0;
}

p, li {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* Tables */

table {
  margin: 12.5pt 0;
  border-collapse: collapse;
  max-width: 100%;
  hyphens: none;
}

table caption {
  font-style: italic;
  margin-bottom: 4pt;
  display: table-caption;
  text-align: left;
  }


td, th { 
  padding: 0.2em 0.4em 0.2em 0.4em;
  vertical-align: top;
  text-align: left;
  word-spacing: 0.3pt;
}
  
thead tr th {
  font-weight: 600;
}

/*lists within tables*/
table ul li,
table ol li{
 margin: 0 0 0 8pt;
}

table, th, td {
   border: 1px solid black;
}

th {
    background-color: #C8C8C8;
    color: black;
}

div[data-type="warning"] {
 background: #ffe9ec;
}

div[data-type="note"], div[data-type="warning"], div[data-type="tip"] {
  border: solid 1pt black;
  padding-left: 2em;
  padding-right: 2em;
}



}

}

